html, body{
	height: 100%;
}

.form{
	display: table;
	height: 100%;
	width: 100%;
}

.inner{
	display:table-row;
}

#main_form{
	display: table-cell;
	height: 100%;
	background-color: #efefef;	
}

#side_items{
	display: table-cell;
	width: 82px;
	height: 100%;
	background-color: #e3e3e3;
}

#footer{
	position: fixed;
	left: 82px; bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 -5px 10px #dbdbdb;
}