
html, body{
	height: 100%;
	min-width: 1150px;
}

.form{
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 2;
}

.inner{
	display:table-row;
}

#main_form{
	display: table-cell;
	height: 100%;
	background-color: #efefef;
	vertical-align: top;
	padding-top: 7px;	
}

#options{
	#navigation, #excel_options, #title, #filter{
		position: relative;
		z-index: 2;
		padding: 0 18px;
	}

	span{
		cursor: default;
	}
}

#navigation{
	color: #2a6ebb;

	span{
		padding: 0;
		display: inline-block;
		position: relative;
		font-size: 90%;
	}

	.line{
		height: 1px;
		width: 100%;
		padding: 0;
		display: block;
		vertical-align: 100%;
		background-color: #2a6ebb;
		position: absolute;
		top: 15px;
		right: 0px;
	}
	.current{
		color: #727272;
	}
}

.button{
	border: 1px solid #79997d;
	border-radius: 4px;
	padding: 3px 5px;
	display: inline-block;
	position: relative;
	padding-left: 21px;
	font-size: 89%;
	color: #205527;

}

#excel_options{
	margin-top: 7px;
	float: right;

	i{
		background-image: url('../images/load.png');
	  	background-repeat: no-repeat;
	  	display: inline-block;
	  	height: 15px;
	  	width: 15px;
	  	position: absolute;
	  	left: 3px;
	}

	.upl {
	  background-position: 0 0;
	}

	.dnl {
	  background-position: 0 -15px;
	}
}

#title{
	margin-top: 7px;

	h3{
		font-size: 19px;
		display: inline-block;
	}
	
	.check{
		background-image: url('../images/check.png');
	  	background-repeat: no-repeat;
	  	display: inline-block;
	  	height: 12px;
	  	width: 12px;
	  	position: absolute;
	  	left: 5px;
	  	top: 5px;
	}
	
}

.listChoice{
	position: relative;
	display: inline-block;

	i{
		width: 9px; height: 6px;
		background-image: url('../images/arrow.png');
		background-repeat: no-repeat;
		position: absolute;
		display: inline-block;
		left: 120px;
		top: 10px;
	}

	select{
		width: 132px; height: 24px;
		margin-left: 7px;
		border: 1px solid #aeaeae;
		border-radius: 4px;
		box-shadow: 0 0 5px #c4c4c4 inset;
		padding: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: linear-gradient(#fefefe, #e6e6e6);
		outline: none;
	}
}

#footer{
	left: 82px; bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 -5px 20px -15px #000000;
}

// @import "compass/utilities/sprites";
// @import "load/*.png";
// @include all-load-sprites;

#filter{
	font-size: 93%;
	margin-top: 17px;

	div{
		position: relative;
	}

	.title{
		width: auto;
		color: #acacac;
		background-color: #efefef;
		display: inline-block;
		padding-right: 5px;
		font-size: 90%;
	}

	.hrline{
		width: 100%; height: 1px;
		background-color: #dbdbdb;
		top: 10px;
	}

	.row{
		margin-top: 10px;

		.search{
			width: 250px; height: 24px;
			border: 1px solid #aeaeae;
			border-radius: 4px;
			background-color: #f4f4f4;
			padding: 3px;
			display: inline-block;
			box-shadow: inset 0 0 5px #c4c4c4;
			color: #868686;
			padding-left: 24px;

			i{
				width: 16px; height: 16px;
				background-image: url('../images/search.png');
				background-repeat: no-repeat;
				display: inline-block;
				position: absolute;
				left: 5px;
			}

			input{
				width: 100%;
				height: 100%;
				background-color: #f4f4f4;
				outline: none;
			}
		}

		.regions, .ASM {
			select{width: 153px;}
			i{left: 141px;};
		}
		.distr, .state{
			select{width: 163px;}
			i{left: 151px;};
		}
	}

	.checks{
		margin-top: 12px;

		span{
			position: relative;
			padding-left: 25px;
			margin-right: 13px;

			div{
				width: 20px; height: 20px;				
				border: 1px  solid #aeaeae;
				border-radius: 2px;
				display: inline-block;
				position: absolute;
				left: 0px;
				top: -3px;

				i{
					width: 13px; height: 10px;
					background-image: url('../images/small_check.png');
					repeat: no-repeat;
					display: inline-block;
					position: absolute;
					left: 3px;
					top: 3px;
				}
			}
		}

	}
}