
html, body{
	height: 100%;
}

.form{
	display: table;
	height: 100%;
	width: 100%;
}

.inner{
	display:table-row;
}

#main_form{
	display: table-cell;
	height: 100%;
	background-color: #efefef;
	vertical-align: top;
	padding-top: 51+14px;	
}

#footer{
	position: fixed;
	left: 82px; bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 -5px 10px #dbdbdb;
}
