/* line 2, ../sass/content.scss */
#pages, #content {
  font-size: 94%;
  text-align: center;
  width: 100%;
  color: #205527;
}

/* line 9, ../sass/content.scss */
#pages {
  margin-top: 3px;
}
/* line 12, ../sass/content.scss */
#pages em {
  color: #8b8b8b;
  font-weight: bold;
  font-size: 110%;
  cursor: pointer;
}
/* line 19, ../sass/content.scss */
#pages span {
  margin: 0 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* line 26, ../sass/content.scss */
#pages .selected {
  background-color: #205527;
  border-radius: 5px;
  color: #ffffff;
  margin: 0;
  padding: 0 2px;
}
/* line 33, ../sass/content.scss */
#pages .selected .line {
  display: none;
}
/* line 36, ../sass/content.scss */
#pages .space {
  padding-left: 4px;
}
/* line 38, ../sass/content.scss */
#pages .line {
  height: 1px;
  width: 100%;
  padding: 0;
  vertical-align: 100%;
  border-top: 1px dashed #9cb19f;
  position: absolute;
  top: 15px;
  right: 0px;
  text-align: center;
  display: inline-block;
}

/* line 53, ../sass/content.scss */
#content {
  overflow-y: scroll;
}

/* line 57, ../sass/content.scss */
table {
  width: 100%;
  height: 100%;
}

/* line 61, ../sass/content.scss */
#cell03 {
  width: 150px;
}
