/* line 2, ../sass/content.scss */
#pages, #content {
  font-size: 94%;
  text-align: center;
  width: 100%;
  color: #205527;
}

/* line 9, ../sass/content.scss */
#pages {
  margin-top: 3px;
  padding-left: 384px;
  padding-right: 289px;
  width: 1068px;
}
/* line 15, ../sass/content.scss */
#pages em {
  color: #8b8b8b;
  font-weight: bold;
  font-size: 110%;
  cursor: pointer;
}
/* line 22, ../sass/content.scss */
#pages span {
  margin: 0 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* line 29, ../sass/content.scss */
#pages .selected {
  background-color: #205527;
  border-radius: 5px;
  color: #ffffff;
  margin: 0;
  padding: 0 2px;
}
/* line 36, ../sass/content.scss */
#pages .selected .line {
  display: none;
}
/* line 39, ../sass/content.scss */
#pages .space {
  padding-left: 4px;
}
/* line 41, ../sass/content.scss */
#pages .line {
  height: 1px;
  width: 100%;
  padding: 0;
  vertical-align: 100%;
  border-top: 1px dashed #9cb19f;
  position: absolute;
  top: 15px;
  right: 0px;
  text-align: center;
  display: inline-block;
}

/* line 56, ../sass/content.scss */
#content {
  height: 100%;
  width: 1068px;
}

/* line 63, ../sass/content.scss */
.caption {
  margin-top: 8px;
  position: relative;
  z-index: 1;
  box-shadow: 0 -5px 20px -15px #000000;
}

/* line 70, ../sass/content.scss */
.data {
  height: 250px;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
  font-size: 13px;
}
/* line 76, ../sass/content.scss */
.data tr {
  height: 50px;
}

/* line 81, ../sass/content.scss */
table {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 93%;
  color: #000000;
  text-align: left;
  border-collapse: collapse;
}
/* line 89, ../sass/content.scss */
table td {
  vertical-align: middle;
}
/* line 92, ../sass/content.scss */
table td input {
  width: 70px;
  height: 24px;
  margin-left: 6px;
  margin-right: 6px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  background-color: #f4f4f4;
  text-align: right;
  padding-right: 5px;
  box-shadow: inset 0px 3px 10px -8px #000000;
}
/* line 105, ../sass/content.scss */
table .sort {
  font-weight: bold;
  color: #000000;
}
/* line 110, ../sass/content.scss */
table .amount {
  background-color: #008200;
  height: 24px;
}
/* line 114, ../sass/content.scss */
table .amount .cell05, table .amount .cell07 {
  border-right: 1px solid #008200;
}
/* line 118, ../sass/content.scss */
table .amount .cell04 {
  border-left: 1px solid #006700;
}
/* line 122, ../sass/content.scss */
table .amount .cell09 {
  border-right: 1px solid #006700;
}
/* line 126, ../sass/content.scss */
table .amount .cell01, table .amount .cell12 {
  color: #f8f8f8;
  font-weight: bold;
}
/* line 131, ../sass/content.scss */
table .amount .cell11, table .amount .cell12 {
  border: none;
}
/* line 135, ../sass/content.scss */
table .amount .cell05, table .amount .cell06, table .amount .cell07, table .amount .cell08, table .amount .cell10, table .amount .cell11 {
  color: #dddddd;
  padding-right: 7px;
}
/* line 140, ../sass/content.scss */
table .amount td {
  background-color: inherit;
}

/* line 146, ../sass/content.scss */
.row1 {
  height: 48px;
  color: #a3a3a3;
  font-weight: bold;
}
/* line 151, ../sass/content.scss */
.row1 .big {
  padding: 0;
  width: 162px;
  border-spacing: 0px;
  border-left: 1px solid #cdcdcd;
}
/* line 157, ../sass/content.scss */
.row1 .big td {
  padding-right: 4px;
}
/* line 161, ../sass/content.scss */
.row1 .big .cell10 {
  border: none;
}
/* line 164, ../sass/content.scss */
.row1 .big1 {
  width: 165;
  background-color: #f7f7f7;
}
/* line 168, ../sass/content.scss */
.row1 .big1 td {
  padding-right: 4px;
}
/* line 173, ../sass/content.scss */
.row1 table {
  color: inherit;
  background-color: inherit;
}
/* line 177, ../sass/content.scss */
.row1 table td {
  text-align: right;
  font-size: 103%;
  font-weight: bold;
}
/* line 183, ../sass/content.scss */
.row1 table .cell05, .row1 table .cell06, .row1 table .cell07, .row1 table .cell08, .row1 table .cell10, .row1 table .cell11 {
  font-size: 90%;
}
/* line 189, ../sass/content.scss */
.row1 .cell12 {
  width: 126px;
  text-align: center;
}
/* line 194, ../sass/content.scss */
.row1 .cell05, .row1 .cell07 {
  border-right: 1px solid #efefef;
}
/* line 198, ../sass/content.scss */
.row1 .cell05, .row1 .cell06, .row1 .cell07, .row1 .cell08 {
  width: 82px;
  background-color: #f7f7f7;
}

/* line 204, ../sass/content.scss */
.cell01 {
  width: 144px;
}

/* line 208, ../sass/content.scss */
.cell02 {
  width: 155px;
}

/* line 212, ../sass/content.scss */
.cell03 {
  width: 85px;
}

/* line 216, ../sass/content.scss */
.cell04, .cell09 {
  width: 30px;
  background-color: #f7f7f7;
}

/* line 221, ../sass/content.scss */
.cell04 {
  box-shadow: inset 4px 0 20px -15px #000000;
  border-left: 1px solid #cdcdcd;
}

/* line 226, ../sass/content.scss */
.cell09 {
  box-shadow: inset -4px 0 20px -15px #000000;
  -webkit-box-shadow: inset -4px 0 20px -15px #000000;
}

/* line 231, ../sass/content.scss */
.cell10 {
  border-left: 1px solid #cbcbcb;
}

/* line 235, ../sass/content.scss */
.cell05, .cell06, .cell07, .cell08 {
  width: 82px;
  background-color: #efefef;
  text-align: right;
}

/* line 241, ../sass/content.scss */
.cell05, .cell07 {
  border-right: 1px solid #dfdfdf;
}

/* line 245, ../sass/content.scss */
.merged {
  width: 162px;
}

/* line 249, ../sass/content.scss */
.marg_cell {
  width: 5px;
  background-color: #f7f7f7;
}

/* line 254, ../sass/content.scss */
.cell10, .cell11 {
  width: 81px;
}

/* line 258, ../sass/content.scss */
.cell11, .cell12 {
  border-left: 1px solid #efefef;
}

/* line 262, ../sass/content.scss */
.cell12 {
  width: 111px;
}

/* line 266, ../sass/content.scss */
.cell10, .cell11, .cell12 {
  text-align: right;
  padding: 4px;
  padding-right: 7px;
}

/* line 272, ../sass/content.scss */
.cell01, .cell02, .cell03 {
  padding-left: 19px;
}

/* line 279, ../sass/content.scss */
.activated {
  background-color: #e4e4e4;
}

/* line 283, ../sass/content.scss */
.activated_left {
  background-position: 0 -40px;
}

/* line 287, ../sass/content.scss */
.activated_right {
  background-position: 0 -60px;
}

/* line 291, ../sass/content.scss */
.action_left, .action_right {
  width: 25px;
  height: 100%;
  position: relative;
}
/* line 296, ../sass/content.scss */
.action_left i, .action_right i {
  background-image: url("../images/nav.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 14px;
  left: 7px;
}

/* line 309, ../sass/content.scss */
.action_left {
  box-shadow: inset 4px 0 20px -15px #000000;
}
/* line 311, ../sass/content.scss */
.action_left i {
  background-position: 0 0;
}

/* line 315, ../sass/content.scss */
.amount .activated .action_left, .amount .activated .action_right {
  background-color: #007900;
}

/* line 320, ../sass/content.scss */
.action_right {
  box-shadow: inset -4px 0 20px -15px #000000;
  margin-left: 5px;
}
/* line 323, ../sass/content.scss */
.action_right i {
  background-position: 0 -20px;
}
