/* line 2, ../sass/content.scss */
#pages, #content {
  font-size: 94%;
  text-align: center;
  width: 100%;
  color: #205527;
}

/* line 9, ../sass/content.scss */
#pages {
  margin-top: 3px;
}
/* line 12, ../sass/content.scss */
#pages em {
  color: #8b8b8b;
  font-weight: bold;
  font-size: 110%;
  cursor: pointer;
}
/* line 19, ../sass/content.scss */
#pages span {
  margin: 0 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* line 26, ../sass/content.scss */
#pages .selected {
  background-color: #205527;
  border-radius: 5px;
  color: #ffffff;
  margin: 0;
  padding: 0 2px;
}
/* line 33, ../sass/content.scss */
#pages .selected .line {
  display: none;
}
/* line 36, ../sass/content.scss */
#pages .space {
  padding-left: 4px;
}
/* line 38, ../sass/content.scss */
#pages .line {
  height: 1px;
  width: 100%;
  padding: 0;
  vertical-align: 100%;
  border-top: 1px dashed #9cb19f;
  position: absolute;
  top: 15px;
  right: 0px;
  text-align: center;
  display: inline-block;
}

/* line 53, ../sass/content.scss */
#content {
  margin-top: 8px;
  margin-bottom: 50px;
  height: 100%;
}

/* line 59, ../sass/content.scss */
.caption {
  border-bottom: 1px solid #c5c5c5;
  position: relative;
  z-index: 1;
}

/* line 66, ../sass/content.scss */
.data {
  height: 250px;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
}

/* line 73, ../sass/content.scss */
table {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 95%;
  color: #000000;
  text-align: left;
  border-collapse: collapse;
}
/* line 81, ../sass/content.scss */
table td {
  vertical-align: middle;
}
/* line 85, ../sass/content.scss */
table .sort {
  font-weight: bold;
  color: #000000;
}
/* line 90, ../sass/content.scss */
table .amount {
  background-color: #008200;
  height: 24px;
}
/* line 94, ../sass/content.scss */
table .amount .cell01, table .amount .cell12 {
  color: #f8f8f8;
  font-weight: bold;
}
/* line 99, ../sass/content.scss */
table .amount .cell11, table .amount .cell12 {
  border: none;
}
/* line 103, ../sass/content.scss */
table .amount .cell05, table .amount .cell06, table .amount .cell07, table .amount .cell08, table .amount .cell10, table .amount .cell11 {
  color: #dddddd;
}
/* line 107, ../sass/content.scss */
table .amount td {
  background-color: inherit;
}

/* line 113, ../sass/content.scss */
.row1 {
  height: 48px;
  color: #a3a3a3;
  font-weight: bold;
}
/* line 118, ../sass/content.scss */
.row1 .cell12 {
  width: 126px;
  text-align: center;
}
/* line 123, ../sass/content.scss */
.row1 .cell05, .row1 .cell06, .row1 .cell07, .row1 .cell08 {
  border-right: 1px solid #efefef;
}
/* line 127, ../sass/content.scss */
.row1 .cell05, .row1 .cell06, .row1 .cell07, .row1 .cell08 {
  width: 82px;
  background-color: #f7f7f7;
}

/* line 133, ../sass/content.scss */
.cell01 {
  width: 144px;
}

/* line 137, ../sass/content.scss */
.cell02 {
  width: 155px;
}

/* line 141, ../sass/content.scss */
.cell03 {
  width: 150px;
}

/* line 145, ../sass/content.scss */
.cell04, .cell09 {
  width: 15px;
}

/* line 149, ../sass/content.scss */
.cell05, .cell06, .cell07, .cell08 {
  width: 82px;
  background-color: #efefef;
}

/* line 154, ../sass/content.scss */
.marg_cell {
  width: 5px;
  background-color: #f7f7f7;
}

/* line 159, ../sass/content.scss */
.cell04 {
  border-left: 1px solid #cdcdcd;
}

/* line 163, ../sass/content.scss */
.cell09 {
  border-right: 1px solid #cdcdcd;
}

/* line 167, ../sass/content.scss */
.cell10, .cell11 {
  width: 81px;
}

/* line 171, ../sass/content.scss */
.cell11, .cell12 {
  border-left: 1px solid #efefef;
}

/* line 175, ../sass/content.scss */
.cell12 {
  width: 111px;
}

/* line 179, ../sass/content.scss */
.cell10, .cell11, .cell12 {
  text-align: right;
  padding: 3px;
}

/* line 184, ../sass/content.scss */
.cell01, .cell02, .cell03 {
  padding-left: 19px;
}
