/* line 25, ../sass/header.scss */
#header {
  height: 50px;
  color: #e1e1e1;
  background-color: #205527;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 0 10px #dbdbdb;
}
/* line 32, ../sass/header.scss */
#header #user {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
}
/* line 37, ../sass/header.scss */
#header #user img {
  vertical-align: middle;
}
/* line 41, ../sass/header.scss */
#header #user .login {
  width: 53px;
  height: 24px;
  padding: 3px 6px;
  margin-left: 12px;
  border: 1px solid #79997d;
  border-radius: 5px;
  display: inline-block;
}
/* line 5, ../sass/header.scss */
#header #user div {
  padding: 0;
  display: inline-block;
  position: relative;
}
/* line 11, ../sass/header.scss */
#header #user .line {
  height: 1px;
  width: 100%;
  padding: 0;
  color: #ffffff;
  display: block;
  vertical-align: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 15px;
  right: 0px;
}
/* line 54, ../sass/header.scss */
#header .logo {
  padding: 9px 18px 14px 17px;
  height: 100%;
  margin-left: 9px;
  border-left: 1px solid #008f00;
  border-right: 1px solid #008f00;
  background-color: #008200;
}
/* line 63, ../sass/header.scss */
#header .menu_items {
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
  cursor: default;
}
/* line 69, ../sass/header.scss */
#header .menu_items span {
  padding: 3px 10px 4px 10px;
  font-size: 11px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
/* line 5, ../sass/header.scss */
#header .menu_items span div {
  padding: 0;
  display: inline-block;
  position: relative;
}
/* line 11, ../sass/header.scss */
#header .menu_items span .line {
  height: 1px;
  width: 100%;
  padding: 0;
  color: #ffffff;
  display: block;
  vertical-align: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 15px;
  right: 0px;
}
/* line 80, ../sass/header.scss */
#header .menu_items .selected {
  border-radius: 5px;
  background-color: #163b1b;
}
