/* line 2, ../sass/options.scss */
html, body {
  height: 100%;
}

/* line 6, ../sass/options.scss */
.form {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 12, ../sass/options.scss */
.inner {
  display: table-row;
}

/* line 16, ../sass/options.scss */
#main_form {
  display: table-cell;
  height: 100%;
  background-color: #efefef;
  vertical-align: top;
  padding-top: 65px;
}

/* line 24, ../sass/options.scss */
#footer {
  position: fixed;
  left: 82px;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -5px 10px #dbdbdb;
}
