/* line 1, ../sass/options.scss */
html, body {
  height: 100%;
}

/* line 5, ../sass/options.scss */
.form {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 11, ../sass/options.scss */
.inner {
  display: table-row;
}

/* line 15, ../sass/options.scss */
#main_form {
  display: table-cell;
  height: 100%;
  background-color: #efefef;
}

/* line 21, ../sass/options.scss */
#side_items {
  display: table-cell;
  width: 82px;
  height: 100%;
  background-color: #e3e3e3;
}

/* line 28, ../sass/options.scss */
#footer {
  position: fixed;
  left: 82px;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -5px 10px #dbdbdb;
}
