/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 25, ../sass/header.scss */
#header {
  height: 50px;
  width: 100%;
  color: #e1e1e1;
  background-color: #205527;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 5px 10px #dbdbdb;
  position: relative;
  z-index: 3;
}
/* line 35, ../sass/header.scss */
#header span {
  cursor: default;
}
/* line 37, ../sass/header.scss */
#header #user {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
}
/* line 42, ../sass/header.scss */
#header #user img {
  vertical-align: middle;
}
/* line 46, ../sass/header.scss */
#header #user .login {
  width: 53px;
  height: 24px;
  padding: 3px 6px;
  margin-left: 12px;
  border: 1px solid #79997d;
  border-radius: 5px;
  display: inline-block;
}
/* line 5, ../sass/header.scss */
#header #user div {
  padding: 0;
  display: inline-block;
  position: relative;
}
/* line 11, ../sass/header.scss */
#header #user .line {
  height: 1px;
  width: 100%;
  padding: 0;
  color: #ffffff;
  display: block;
  vertical-align: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 15px;
  right: 0px;
}
/* line 59, ../sass/header.scss */
#header .logo {
  padding: 9px 18px 14px 17px;
  height: 100%;
  margin-left: 9px;
  border-left: 1px solid #008f00;
  border-right: 1px solid #008f00;
  background-color: #008200;
}
/* line 68, ../sass/header.scss */
#header .menu_items {
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
}
/* line 73, ../sass/header.scss */
#header .menu_items span {
  padding: 3px 10px 4px 10px;
  font-size: 11px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
/* line 5, ../sass/header.scss */
#header .menu_items span div {
  padding: 0;
  display: inline-block;
  position: relative;
}
/* line 11, ../sass/header.scss */
#header .menu_items span .line {
  height: 1px;
  width: 100%;
  padding: 0;
  color: #ffffff;
  display: block;
  vertical-align: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 15px;
  right: 0px;
}
/* line 84, ../sass/header.scss */
#header .menu_items .selected {
  border-radius: 5px;
  background-color: #163b1b;
}

/* line 2, ../sass/options.scss */
html, body {
  height: 100%;
  min-width: 1150px;
  overflow-y: hidden;
}

/* line 8, ../sass/options.scss */
.form {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

/* line 16, ../sass/options.scss */
.inner {
  display: table-row;
}

/* line 20, ../sass/options.scss */
#main_form {
  display: table-cell;
  height: 100%;
  background-color: #efefef;
  vertical-align: top;
  padding-top: 7px;
}

/* line 29, ../sass/options.scss */
#options #navigation, #options #excel_options, #options #title, #options #filter {
  position: relative;
  z-index: 2;
  padding: 0 18px;
}
/* line 35, ../sass/options.scss */
#options span {
  cursor: default;
}

/* line 40, ../sass/options.scss */
#navigation {
  color: #2a6ebb;
}
/* line 43, ../sass/options.scss */
#navigation span {
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 90%;
}
/* line 50, ../sass/options.scss */
#navigation .line {
  height: 1px;
  width: 100%;
  padding: 0;
  display: block;
  vertical-align: 100%;
  background-color: #2a6ebb;
  position: absolute;
  top: 15px;
  right: 0px;
}
/* line 61, ../sass/options.scss */
#navigation .current {
  color: #727272;
}

/* line 66, ../sass/options.scss */
.button {
  border: 1px solid #79997d;
  border-radius: 4px;
  padding: 3px 5px;
  display: inline-block;
  position: relative;
  padding-left: 21px;
  font-size: 89%;
  color: #205527;
}

/* line 78, ../sass/options.scss */
#excel_options {
  margin-top: 7px;
  float: right;
}
/* line 82, ../sass/options.scss */
#excel_options i {
  background-image: url("../images/load.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 3px;
}
/* line 92, ../sass/options.scss */
#excel_options .upl {
  background-position: 0 0;
}
/* line 96, ../sass/options.scss */
#excel_options .dnl {
  background-position: 0 -15px;
}

/* line 101, ../sass/options.scss */
#title {
  margin-top: 7px;
}
/* line 104, ../sass/options.scss */
#title h3 {
  font-size: 19px;
  display: inline-block;
}
/* line 109, ../sass/options.scss */
#title .check {
  background-image: url("../images/check.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 5px;
  top: 5px;
}

/* line 122, ../sass/options.scss */
.listChoice {
  position: relative;
  display: inline-block;
}
/* line 126, ../sass/options.scss */
.listChoice i {
  width: 9px;
  height: 6px;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  left: 120px;
  top: 10px;
}
/* line 136, ../sass/options.scss */
.listChoice select {
  width: 132px;
  height: 24px;
  margin-left: 7px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  box-shadow: 0 0 5px #c4c4c4 inset;
  padding: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: linear-gradient(#fefefe, #e6e6e6);
  outline: none;
}

/* line 150, ../sass/options.scss */
#footer {
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -5px 20px -15px #000000;
  text-align: left;
  padding-left: 19px;
  position: relative;
  font-size: 95%;
  padding-top: 17px;
}
/* line 162, ../sass/options.scss */
#footer span {
  color: #8b8b8b;
  margin-left: 7px;
}
/* line 167, ../sass/options.scss */
#footer .stat {
  float: right;
  margin-right: 23px;
}
/* line 172, ../sass/options.scss */
#footer .save {
  background-color: #8faa93;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  margin-left: 0;
}
/* line 179, ../sass/options.scss */
#footer .save i {
  background-image: url("../images/save.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: -3px;
  margin-right: 5px;
}

/* line 194, ../sass/options.scss */
#filter {
  font-size: 93%;
  margin-top: 17px;
}
/* line 198, ../sass/options.scss */
#filter div {
  position: relative;
}
/* line 202, ../sass/options.scss */
#filter .title {
  width: auto;
  color: #acacac;
  background-color: #efefef;
  display: inline-block;
  padding-right: 5px;
  font-size: 90%;
}
/* line 211, ../sass/options.scss */
#filter .hrline {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  top: 10px;
}
/* line 217, ../sass/options.scss */
#filter .row {
  margin-top: 10px;
}
/* line 220, ../sass/options.scss */
#filter .row .search {
  width: 250px;
  height: 24px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  background-color: #f4f4f4;
  padding: 3px;
  display: inline-block;
  box-shadow: inset 0 0 5px #c4c4c4;
  color: #868686;
  padding-left: 24px;
}
/* line 231, ../sass/options.scss */
#filter .row .search i {
  width: 16px;
  height: 16px;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 5px;
}
/* line 240, ../sass/options.scss */
#filter .row .search input {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  outline: none;
}
/* line 249, ../sass/options.scss */
#filter .row .regions select, #filter .row .ASM select {
  width: 153px;
}
/* line 250, ../sass/options.scss */
#filter .row .regions i, #filter .row .ASM i {
  left: 141px;
}
/* line 253, ../sass/options.scss */
#filter .row .distr select, #filter .row .state select {
  width: 163px;
}
/* line 254, ../sass/options.scss */
#filter .row .distr i, #filter .row .state i {
  left: 151px;
}
/* line 258, ../sass/options.scss */
#filter .checks {
  margin-top: 12px;
}
/* line 261, ../sass/options.scss */
#filter .checks span {
  position: relative;
  padding-left: 25px;
  margin-right: 13px;
}
/* line 266, ../sass/options.scss */
#filter .checks span div {
  width: 20px;
  height: 20px;
  border: 1px  solid #aeaeae;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -3px;
}
/* line 275, ../sass/options.scss */
#filter .checks span div i {
  width: 13px;
  height: 10px;
  background-image: url("../images/small_check.png");
  repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 3px;
}

/* line 2, ../sass/side_menu.scss */
#side_items {
  display: table-cell;
  width: 82px;
  height: 100%;
  background-color: #e3e3e3;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 10, ../sass/side_menu.scss */
#side_items .s_item {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  font-size: 92%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
/* line 18, ../sass/side_menu.scss */
#side_items .s_item .rect {
  width: 21px;
  height: 21px;
  border: 1px solid;
  margin-top: 14px;
  margin-bottom: 1px;
  display: inline-block;
  border-radius: 3px;
}
/* line 25, ../sass/side_menu.scss */
#side_items .s_item .rect i {
  width: 19px;
  height: 19px;
  background-image: url("../images/items.png");
  background-repeat: no-repeat;
  display: inline-block;
}
/* line 35, ../sass/side_menu.scss */
#side_items .common {
  color: #205527;
  border: 1px solid #79997d;
}
/* line 39, ../sass/side_menu.scss */
#side_items .common .rect {
  border-color: #205527;
}
/* line 42, ../sass/side_menu.scss */
#side_items .common .rect i {
  background-position: 0 0;
}
/* line 48, ../sass/side_menu.scss */
#side_items .selected {
  color: #f5f5f5;
  background-color: #205527;
}
/* line 52, ../sass/side_menu.scss */
#side_items .selected .rect {
  border-color: #f5f5f5;
}
/* line 55, ../sass/side_menu.scss */
#side_items .selected .rect i {
  background-position: 0 -19px;
}
/* line 61, ../sass/side_menu.scss */
#side_items .line {
  width: 100%;
  height: 1px;
  background-color: #bdbdbd;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 75, ../sass/side_menu.scss */
.items-greenitem {
  background-position: 0 0;
}

/* line 79, ../sass/side_menu.scss */
.items-whiteitem {
  background-position: 0 -19px;
}

/* line 2, ../sass/content.scss */
#pages, #content {
  font-size: 94%;
  text-align: center;
  width: 100%;
  color: #205527;
}

/* line 9, ../sass/content.scss */
#pages {
  margin-top: 3px;
  padding-left: 384px;
  padding-right: 289px;
  width: 1068px;
}
/* line 15, ../sass/content.scss */
#pages em {
  color: #8b8b8b;
  font-weight: bold;
  font-size: 110%;
  cursor: pointer;
}
/* line 22, ../sass/content.scss */
#pages span {
  margin: 0 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* line 29, ../sass/content.scss */
#pages .selected {
  background-color: #205527;
  border-radius: 5px;
  color: #ffffff;
  margin: 0;
  padding: 0 2px;
}
/* line 36, ../sass/content.scss */
#pages .selected .line {
  display: none;
}
/* line 39, ../sass/content.scss */
#pages .space {
  padding-left: 4px;
}
/* line 41, ../sass/content.scss */
#pages .line {
  height: 1px;
  width: 100%;
  padding: 0;
  vertical-align: 100%;
  border-top: 1px dashed #9cb19f;
  position: absolute;
  top: 15px;
  right: 0px;
  text-align: center;
  display: inline-block;
}

/* line 56, ../sass/content.scss */
#content {
  height: 100%;
  width: 1068px;
}

/* line 63, ../sass/content.scss */
.caption {
  margin-top: 8px;
  position: relative;
  z-index: 1;
  box-shadow: 0 -5px 20px -15px #000000;
}

/* line 70, ../sass/content.scss */
.data {
  height: 250px;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
  font-size: 13px;
}
/* line 76, ../sass/content.scss */
.data tr {
  height: 50px;
}
/* line 79, ../sass/content.scss */
.data .empty_row {
  height: 30px;
}

/* line 84, ../sass/content.scss */
table {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 93%;
  color: #000000;
  text-align: left;
  border-collapse: collapse;
}
/* line 92, ../sass/content.scss */
table td {
  vertical-align: middle;
}
/* line 95, ../sass/content.scss */
table td input {
  width: 70px;
  height: 24px;
  margin-left: 6px;
  margin-right: 6px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  background-color: #f4f4f4;
  text-align: right;
  padding-right: 5px;
  box-shadow: inset 0px 3px 10px -8px #000000;
}
/* line 108, ../sass/content.scss */
table .sort {
  font-weight: bold;
  color: #000000;
}
/* line 113, ../sass/content.scss */
table .sortable {
  cursor: pointer;
}
/* line 116, ../sass/content.scss */
table .sortable span {
  position: relative;
  cursor: pointer;
}
/* line 121, ../sass/content.scss */
table .sortable span:hover {
  color: #737373;
  cursor: pointer;
}
/* line 125, ../sass/content.scss */
table .sortable span:hover .line {
  border-top: 1px dashed #737373;
}
/* line 130, ../sass/content.scss */
table .sortable .line {
  height: 1px;
  width: 100%;
  padding: 0;
  vertical-align: 100%;
  position: absolute;
  top: 13px;
  right: 0px;
  text-align: center;
  display: inline-block;
  border-top: 1px dashed #ffffff;
  cursor: pointer;
}
/* line 146, ../sass/content.scss */
table .amount {
  background-color: #008200;
  height: 24px;
}
/* line 150, ../sass/content.scss */
table .amount .cell05, table .amount .cell07 {
  border-right: 1px solid #008200;
}
/* line 154, ../sass/content.scss */
table .amount .cell04 {
  border-left: 1px solid #006700;
}
/* line 158, ../sass/content.scss */
table .amount .cell09 {
  border-right: 1px solid #006700;
}
/* line 162, ../sass/content.scss */
table .amount .cell01, table .amount .cell12 {
  color: #f8f8f8;
  font-weight: bold;
}
/* line 167, ../sass/content.scss */
table .amount .cell11, table .amount .cell12 {
  border: none;
}
/* line 171, ../sass/content.scss */
table .amount .cell05, table .amount .cell06, table .amount .cell07, table .amount .cell08, table .amount .cell10, table .amount .cell11 {
  color: #dddddd;
  padding-right: 7px;
}
/* line 176, ../sass/content.scss */
table .amount td {
  background-color: inherit;
}

/* line 182, ../sass/content.scss */
.row1 {
  height: 48px;
  color: #a3a3a3;
  font-weight: bold;
}
/* line 187, ../sass/content.scss */
.row1 .big {
  padding: 0;
  width: 162px;
  border-spacing: 0px;
  border-left: 1px solid #cdcdcd;
}
/* line 193, ../sass/content.scss */
.row1 .big td {
  padding-right: 4px;
}
/* line 197, ../sass/content.scss */
.row1 .big .cell10 {
  border: none;
}
/* line 200, ../sass/content.scss */
.row1 .big1 {
  width: 165;
  background-color: #f7f7f7;
}
/* line 204, ../sass/content.scss */
.row1 .big1 td {
  padding-right: 4px;
}
/* line 209, ../sass/content.scss */
.row1 table {
  color: inherit;
  background-color: inherit;
}
/* line 213, ../sass/content.scss */
.row1 table td {
  text-align: right;
  font-size: 103%;
  font-weight: bold;
}
/* line 219, ../sass/content.scss */
.row1 table .cell05, .row1 table .cell06, .row1 table .cell07, .row1 table .cell08, .row1 table .cell10, .row1 table .cell11 {
  font-size: 90%;
}
/* line 225, ../sass/content.scss */
.row1 .cell12 {
  width: 126px;
  text-align: center;
}
/* line 230, ../sass/content.scss */
.row1 .cell05, .row1 .cell07 {
  border-right: 1px solid #efefef;
}
/* line 234, ../sass/content.scss */
.row1 .cell05, .row1 .cell06, .row1 .cell07, .row1 .cell08 {
  width: 82px;
  background-color: #f7f7f7;
}

/* line 240, ../sass/content.scss */
.cell01 {
  width: 144px;
}

/* line 244, ../sass/content.scss */
.cell02 {
  width: 155px;
}

/* line 248, ../sass/content.scss */
.cell03 {
  width: 85px;
}

/* line 252, ../sass/content.scss */
.cell04, .cell09 {
  width: 30px;
  background-color: #f7f7f7;
}

/* line 257, ../sass/content.scss */
.cell04 {
  box-shadow: inset 4px 0 20px -15px #000000;
  -moz-box-shadow: inset 4px 0 20px -15px #000000;
  border-left: 1px solid #cdcdcd;
}

/* line 263, ../sass/content.scss */
.cell09 {
  box-shadow: inset -4px 0 20px -15px #000000;
  -webkit-box-shadow: inset -4px 0 20px -15px #000000;
}

/* line 268, ../sass/content.scss */
.cell10 {
  border-left: 1px solid #cbcbcb;
}

/* line 272, ../sass/content.scss */
.cell05, .cell06, .cell07, .cell08 {
  width: 82px;
  background-color: #efefef;
  text-align: right;
}

/* line 278, ../sass/content.scss */
.cell05, .cell07 {
  border-right: 1px solid #dfdfdf;
}

/* line 282, ../sass/content.scss */
.merged {
  width: 162px;
}

/* line 286, ../sass/content.scss */
.marg_cell {
  width: 5px;
  background-color: #f7f7f7;
}

/* line 291, ../sass/content.scss */
.cell10, .cell11 {
  width: 81px;
}

/* line 295, ../sass/content.scss */
.cell11, .cell12 {
  border-left: 1px solid #efefef;
}

/* line 299, ../sass/content.scss */
.cell12 {
  width: 111px;
}

/* line 303, ../sass/content.scss */
.cell10, .cell11, .cell12 {
  text-align: right;
  padding-right: 7px;
}

/* line 308, ../sass/content.scss */
.cell01, .cell02, .cell03 {
  padding-left: 19px;
}

/* line 315, ../sass/content.scss */
.activated {
  background-color: #e4e4e4;
}

/* line 319, ../sass/content.scss */
.activated_left {
  background-position: 0 -40px;
}

/* line 323, ../sass/content.scss */
.activated_right {
  background-position: 0 -60px;
}

/* line 327, ../sass/content.scss */
.action_left, .action_right {
  width: 25px;
  height: 100%;
  position: relative;
}
/* line 332, ../sass/content.scss */
.action_left i, .action_right i {
  background-image: url("../images/nav.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 14px;
  left: 7px;
}

/* line 345, ../sass/content.scss */
.action_left {
  box-shadow: inset 4px 0 20px -15px #000000;
}
/* line 347, ../sass/content.scss */
.action_left i {
  background-position: 0 0;
}

/* line 351, ../sass/content.scss */
.amount .activated .action_left, .amount .activated .action_right {
  background-color: #007900;
}

/* line 356, ../sass/content.scss */
.action_right {
  box-shadow: inset -4px 0 20px -15px #000000;
  margin-left: 5px;
}
/* line 359, ../sass/content.scss */
.action_right i {
  background-position: 0 -20px;
}

/* line 366, ../sass/content.scss */
#parent01 {
  width: 414px;
  float: left;
}

/* line 371, ../sass/content.scss */
#parent02 {
  width: 165px;
  float: left;
}

/* line 376, ../sass/content.scss */
#parent03 {
  width: 170px;
  float: left;
}

/* line 381, ../sass/content.scss */
#parent04 {
  width: 304px;
  float: left;
}

/* line 14, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../sass/screen.scss */
html {
  font: 80%/1.4em Helvetica, Arial, sans-serif;
}
